<!-- <p>this page to display customer</p>
<p>{{message}}</p>
 -->
<div class="customer-div">
	<button data-backdrop="static" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#add-cus-modal">
		<i class="fa fa-plus"></i>
	</button>
	
	<!-- Modal -->
	<div id="add-cus-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Thêm khách hàng mới</h4>
	      </div>
	      <div class="modal-body">
	        <table class="table">
	        	<tbody>
		        	<tr>
		        		<td class="text-field">Họ tên: </td>
		        		<td><input id="name" type="text"></td>
		        	</tr>
		        	<tr>
		        		<td class="text-field">Số điện thoại: </td>
		        		<td><input id="phone" type="text"></td>
		        	</tr>
		        	<tr>
		        		<td class="text-field">Địa chỉ: </td>
		        		<td><input id="address" type="text"></td>
		        	</tr>
		        	<tr>
		        		<td class="text-field">Ghi chú: </td>
		        		<td><input id="note" type="text"></td>
		        	</tr>
	        	</tbody>
	        </table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	
</div>