
<div id="customer-div">
	<button data-backdrop="static" type="button" class="btn btn-success" data-toggle="modal" data-target="#add-cus-modal">
		<i class="fa fa-plus"></i>
	</button>
	
	<div class="row">
		<div class="col-sm-6 content">
			<div>				
				<div class="input-group">				
		            <div class="input-group-btn">
	            		<select id="search-customer-select" ng-model="search.type">
						  <option value="all">Tất cả</option>
						  <option value="name">Họ tên</option>
						  <option value="phone">Điện thoại</option>
						  <option value="address">Địa chỉ</option>
						  <option value="note">Ghi chú</option>
						</select>
		            </div>
					<input type="text" class="form-control" placeholder="tìm thông tin" ng-model="search.input">
					<div class="input-group-btn">
		            	<button type="button" ng-click="doSearch()" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
		            </div>
				</div>				
			</div>
		</div> <!-- end class col-sm content -->
	</div> <!-- end class row -->
	
	<div id="list-customer-div">
		<table id="list-customer"></table>
		
	</div>
	
	<!-- Modal notify -->
	<div id="confirm-cus-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-sm">	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
	        <h4 class="modal-title">Thông báo</h4>
	      </div>
	      <div class="modal-body">
	        <h4 id="confirm-content"></h4>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	
	<!-- Modal -->
	<div id="add-cus-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal Add content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Thêm khách hàng mới</h4>
	      </div>
	      <div class="modal-body">
	        <table class="table add-customer-table">
	        	<tbody>
		        	<tr>
		        		<td class="text-field">Họ tên: <span style="color: red">*</span></td>
		        		<td><input id="cus-name" data-toggle="tooltip" title="Hãy nhập họ tên" ng-model="cus.name" type="text"></td>
		        	</tr>
		        	<tr>
		        		<td class="text-field">Điện thoại: <span style="color: red">*</span> </td>
		        		<td><input id="cus-phone" data-toggle="tooltip" title="Số điện thoại không đúng" ng-model="cus.phone" type="text"></td>
		        	</tr>
		        	<tr>
		        		<td class="text-field">Địa chỉ: <span style="color: red">*</span> </td>
		        		<td><input id="cus-address" data-toggle="tooltip" title="Hãy nhập địa chỉ" ng-model="cus.address" type="text"></td>
		        	</tr>
		        	<tr>
		        		<td class="text-field">Ghi chú: </td>
		        		<td><!-- <input id="cus-note" ng-model="cus.note" type="text"> -->
		        			<textarea style="width: 100%" ng-model="cus.note" rows="5" id="cus-note"></textarea>
		        		</td>
		        	</tr>
	        	</tbody>
	        </table>
	      </div>
	      <div class="modal-footer">
	      	<button id="save-customer-btn" type="button" class="btn btn-success" ng-click="save('POST')">Lưu</button>
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
	      </div>
	    </div> <!-- end modal add content -->
	
	  </div>
	</div>
	
	<!-- Modal Edit -->
	<div id="edit-cus-modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Sửa thông tin khách hàng</h4>
	      </div>
	      <div class="modal-body">
	        <table class="table edit-customer-table">
	        	<tbody>
		        	<tr>
		        		<td class="text-field">Họ tên: <span style="color: red">*</span></td>
		        		<td><input id="cus-name-edit" data-toggle="tooltip" title="Hãy nhập họ tên" ng-model="edit_cus.name" type="text"></td>
		        	</tr>
		        	<tr>
		        		<td class="text-field">Điện thoại: <span style="color: red">*</span> </td>
		        		<td><input id="cus-phone-edit" data-toggle="tooltip" title="Số điện thoại không đúng" ng-model="edit_cus.phone" type="text"></td>
		        	</tr>
		        	<tr>
		        		<td class="text-field">Địa chỉ: <span style="color: red">*</span> </td>
		        		<td><input id="cus-address-edit" data-toggle="tooltip" title="Hãy nhập địa chỉ" ng-model="edit_cus.address" type="text"></td>
		        	</tr>
		        	<tr>
		        		<td class="text-field">Ghi chú: </td>
		        		<td>
		        			<input hidden id="cus-id-edit" ng-model="edit_cus.id" type="text">
		        			<textarea style="width: 100%" ng-model="edit_cus.note" rows="5" id="cus-note-edit"></textarea>
		        		</td>
		        	</tr>
	        	</tbody>
	        </table>
	      </div>
	      <div class="modal-footer">
	      	<button id="edit-customer-btn" type="button" class="btn btn-success" ng-click="save('PUT')">Lưu</button>
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
	      </div>
	    </div> <!-- end modal Edit content -->
	
	  </div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			
			$('#search-customer-select').select2({
				  containerCssClass: 'tpx-select2-container',
				  dropdownCssClass: 'tpx-select2-drop'
			});
			
			$("#search-customer-select").select2('val', 'all'); 

			angular.element($('#customer-div')).scope().getListCustomer();
			
		});
	
	</script>
	
</div>