

body { 
	background:url(../images/body.jpg) repeat 50% 0%; 
}

.cus-number {
	text-align: right;
}

.navbar-inverse {
	background-color: #3d3d3d;
    border-radius: 0px;
    /* fe8f01 */
}

.container-fluid .navbar-brand {
	margin-left: 20px !important;
  	height: 65px !important;
}

.navbar-nav li a {
	font-size: 130%;
	height: 65px;    
	padding-top: 22px;
}

.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a{
    background-color: #fe8f01 !important;
}

.laundromax-header {
	background-color: white;
	/* height: 80px; */
}

.laundromax-header img {
	height: 80px;
}

.laundromax-header i {
	color: #4fa954;
}

.laundromax-header .info-header {	
    padding-top: 10px;
    padding-right: 40px;
    text-align: right;
}

/* ------------------- for common page ------------------- */
.c-hidden {
	display: none !important;
}

.c-bold {
	font-weight: bold !important;
}

.table thead {
	background-color: #03A9C0;
}

/* ------ for customer page ------ */
.laundromax-view .modal-header {
	background-color: #23c6c8;
    /* border-radius: 5px; */
    border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.laundromax-view .modal-content .table>tbody>tr>td {
	border: none;
}

.laundromax-view .modal-footer {
/* 	background-color: #f3f3f3; */
}

.laundromax-view .text-field {
	text-align: right;
	max-width: 40px;
}

.laundromax-view .modal-content input{
	width: 100%;
}

.container-my-view {
	padding-right: 0px;
    padding-left: 0px;
    background-color: white;
    margin-top: 15px;
    padding: 15px;
}

#add-cus-modal .tooltip-inner {
	background-color: red;
}

#add-cus-modal .tooltip-arrow {
	border-top: 5px solid red;
}

/* for confirm model when add/delete/modify... */
#confirm-cus-modal .modal-header {
	text-align: left;
}

#confirm-cus-modal .modal-footer {
	text-align: right;
}

/* for Customer search input */

.input-group-btn #s2id_search-customer-select {
	min-width: 130px;
}

#template-div div.row {
	margin-top: 20px;
}

/* ----------- END for common page ------------ */

/* for product page */
.laundromax-view .product-view .text-field {
	max-width: 48px !important;
}



/* For Invoice */
#list-product-tbl thead {
	font-weight: bold;
}

#list-product-tbl tbody td input {
	width: 40px;	
}

#list-product-tbl thead {
	text-align: center;
	v-align: center;
}

#list-product-tbl tbody .price {
	text-align: right;
}

#list-product-tbl tbody .qtt {
	text-align: center;
}

#list-product-tbl .selected-pro-row {
	background-color: #e7f5fe;
}

#list-product-tbl .selected-pro {
	color: blue;
	font-weight: bold; 
}

.amount-total-tbl-footer #amount-total {
	font-weight: bold;
	font-size: 110%;
}

.amount-total-tbl-footer #invoice_remain {
	font-weight: bold;
	font-size: 110%;
}

.amount-total-tbl-footer span.right {
	float: right;
}

.blue-background {
	background-color: #e7f5fe;
}

.panel-customer span.c-title {
	font-weight: bold;
}

#invoice-cfr-modal .invoide-cfr-title {
    margin-bottom: 10px;
    font-size: 130%;
    font-weight: bold;
}

#invoice_note_title {
	
}

.customer-invoice-div {
	margin-bottom: 20px;
	margin-top: 20px;
}

.amount-total-tbl-footer .col-note {
    margin-top: 15px;
}

.amount-total-tbl-footer .col-note textarea {
    height: 195px;
}

.amount-total-tbl-footer textarea {
    margin-top: 15px;
}

.col-total .totalpay-span {
	text-align: right;
}

.col-total .totalpay-span span{
	text-align: right;
	
}

.col-total .totalpay-span input {
	width: 80%;
	text-align: right;
}

#invoice-note {
	padding: 10px !important;
}

/* Invoice Status color */
.c-status-new {
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.c-status-confirm {
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.c-status-sent {	
    color: #fff;
    background-color: #337A65;
    border-color: #2e6da4;
}

.c-status-receive {
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.c-status-delivery {
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.c-status-request {
	color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.c-status-cancel {
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.invoice-view-status {
	margin-top: 50px;
}


.w3-btn, .w3-btn:link, .w3-btn:visited {
    color: #FFFFFF;
    background-color: #73AD21;
    background-color: #4CAF50;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.w3-btn {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-margin-bottom {
    margin-bottom: 16px!important;
}

.w3-btn:hover, .w3-btn:active {
    background-color: #ffffff !important;
    color: #73AD21;
    color: #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.w3-print {
	border-radius: 15px;
    background-color: #2332B2 !important;
}

#c-print-popover p {
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}

.c-dopay .c-firstrow td {
	border-top: 0;
}

#add-invoice-date {
	margin-bottom: 15px;
}








