

body { 
	background:url(../images/body.jpg) repeat 50% 0%; 
}

.cus-number {
	text-align: right;
}

.navbar-inverse {
	background-color: #3d3d3d;
    border-radius: 0px;
    /* fe8f01 */
}

.container-fluid .navbar-brand {
	margin-left: 20px !important;
  	height: 65px !important;
}

.navbar-nav li a {
	font-size: 130%;
	height: 65px;    
	padding-top: 22px;
}

.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a{
    background-color: #fe8f01 !important;
}

.laundromax-header {
	background-color: white;
	/* height: 80px; */
}

.laundromax-header img {
	height: 80px;
}

.laundromax-header i {
	color: #4fa954;
}

.laundromax-header .info-header {	
    padding-top: 10px;
    padding-right: 40px;
    text-align: right;
}

/* ------------------- for common page ------------------- */
/* ------ for customer page ------ */
.laundromax-view .modal-header {
	background-color: #23c6c8;
    /* border-radius: 5px; */
    border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.laundromax-view .modal-content .table>tbody>tr>td {
	border: none;
}

.laundromax-view .modal-footer {
/* 	background-color: #f3f3f3; */
}

.laundromax-view .text-field {
	text-align: right;
	max-width: 40px;
}

.laundromax-view .modal-content input{
	width: 100%;
}

.container-my-view {
	padding-right: 0px;
    padding-left: 0px;
    background-color: white;
    margin-top: 15px;
    padding: 15px;
}

#add-cus-modal .tooltip-inner {
	background-color: red;
}

#add-cus-modal .tooltip-arrow {
	border-top: 5px solid red;
}

/* for confirm model when add/delete/modify... */
#confirm-cus-modal .modal-header {
	text-align: left;
}

#confirm-cus-modal .modal-footer {
	text-align: right;
}

/* for Customer search input */

.input-group-btn #s2id_search-customer-select {
	min-width: 130px;
}

/* ----------- END for common page ------------ */

/* for product page */
.laundromax-view .product-view .text-field {
	max-width: 48px !important;
}



/* For Invoice */
#list-product-tbl tbody td input {
	width: 40px;
	
}

#list-product-tbl thead {
	text-align: center;
	v-align: center;	
}

#list-product-tbl tbody .price {
	text-align: right;
}

#list-product-tbl tbody .qtt {
	text-align: center;
}

#list-product-tbl .selected-pro-row {
	background-color: #e7f5fe;
}

#list-product-tbl .selected-pro {
	color: blue;
	font-weight: bold; 
}

.amount-total-tbl-footer #amount-total {
	font-weight: bold;
	font-size: 110%;
}

.amount-total-tbl-footer #invoice_remain {
	font-weight: bold;
	font-size: 110%;
}

.amount-total-tbl-footer span.right {
	float: right;
}

.blue-background {
	background-color: #e7f5fe;
}

.panel-customer span.c-title {
	font-weight: bold;
}

#invoice-cfr-modal .invoide-cfr-title {
    margin-bottom: 10px;
    font-size: 130%;
    font-weight: bold;
}

#invoice_note_title {
	
}

.customer-invoice-div {
	margin-bottom: 20px;
}

.amount-total-tbl-footer .col-note {
    margin-top: 15px;
}

.amount-total-tbl-footer .col-note textarea {
    height: 195px;
}

.amount-total-tbl-footer textarea {
    margin-top: 15px;
}

.col-total .totalpay-span {
	text-align: right;
}

.col-total .totalpay-span span{
	text-align: right;
	
}

.col-total .totalpay-span input {
	width: 80%;
	text-align: right;
}










